html, body {
	-webkit-text-size-adjust: none;
}
* {
	font-family: Arial;
	font-size: 16px;
	line-height: 19px;
}
body {
	margin: 0px;
	font-family: Arial;
	background-color: #fff;
	width: 100%;
	overflow-x: hidden;
	font-size: 16px;
	line-height: 19px;

}
.fa-home:before {
    content: "";
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}
@media (max-width: 768px) {
	* {
		font-size: 14px;
		line-height: 18px;
	}
	body {
		font-size: 14px;
		line-height: 18px;
	
	}
}
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: transparent;
}
#load_ {
	position: fixed;
	z-index: 99999;
	background-color: #F4F3F3;
	width: 100%;
	height: 100%;
}

.overlay {
	background-color: rgba(255,255,255,0.6) !important;
}

table {
	border-collapse: collapse;
	width: 100%;
}
	table tr td.top, table.top tr td {
		vertical-align: top;
	}
	table tr td.center {
		text-align: center;
	}
::selection {
	background-color: none;
}


a {
	text-decoration: none;
	color: #5ea9dd;
}
	.a_hover {
		color: rgba(212,157,47,1) !important;
	}
	
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
	
	h1, h2 {
		color: #ff0000;
		font-size: 20px;
		background: #f2f2f2;
		padding: 0 10px;
		line-height: 30px;
	}
		h2.small {
			background: none;
			line-height: 22px;
			padding: 0px;
			font-size: 16px;
			margin-top: 0px;
		}
			h2.small span {
				color: #000;
			}
	h3 {
		font-size: 16px;
		color: #ff0000;
	}

.red {
	color: #ff0000;
}
.clr {
	clear: both;
	height: 1px !important;
}

#content {
	position: relative;
	opacity: 0;
	z-index: 2;
}
	.txt {
		padding: 44px 15px;
		position: relative;
		opacity: 0;
		font-size: 16px;
		line-height: 19px;
	}
	
.button {
	background: url(../images/button.png) no-repeat left top;
	padding: 0 30px;
	line-height: 38px !important;
	background-size: auto 38px;
	color: #fff;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	position: relative;
}
	.button .right {
		background: url(../images/button_right.png) no-repeat top right;
		background-size: auto 38px;
		width: 21px;
		height: 38px;
		position: absolute;
		right: 0px;
		top: 0px;
		display: block;
	}
	.button a {
		color: #fff;
		line-height: 38px;
	}
	

@media (max-width: 768px) {
	.col-md-6 {
		width: 100% !important;
	}
	
}
	
/* termine */
.termine td {
	vertical-align: top;
}

/* wissen */
.wissen { }
	.wissen hr {
		border: 0px;
		height: 1px;
		display: block;
		width: 100%;
		background: #ccc;
	}
	.wissen h2 {
		font-size: 17px;
	}
	.wissen td {
		text-align: left;
	}



/* Menü */

.menu {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 52px;
	z-index: 100;
	background-color: #000;
	background-repeat: repeat-x;
	opacity: 0;
}
	.menu #m1 {
		height: 52px;
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.menu #m1 li {
		list-style: none;
		float: left;
		width: 25%;
		margin-bottom: 0px;
		background-repeat: repeat;
	}
	.menu #m1 li a, #navigation a {
		display: block;
		text-decoration: none;
		padding: 9px 0 3px 0;
		background-color: rgba(255,255,255,0);
		color: #fff;
		width: 100%;
		font-size: 12px;
		cursor: pointer;
		text-align: center;
		width: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 20px 20px;
		background-position: center 10px;
		opacity: .5;
	}
		.menu #m1 li a .fa, #navigation a .fa {
			font-size: 20px;
		}
	.menu #m1 li #active {
		background-color: rgba(255,255,255,0.25);
		opacity: 1;
	}
	.menu #m1 li a:hover, #navigation a:hover {
		background-color: #ff0000 !important;
		opacity: 1;
	}
	.menu li .a_hover, #navigation .a_hover {
		background-color: rgba(203,150,45,1) !important;
		color: rgba(255,255,255,1) !important;
	}
	

	.status {
		float: right;
		background-position: center right;
		background-repeat: no-repeat;
		background-size: 100% auto;
		width: 30%;
		max-width: 75px;
		height: 33px;
		margin-left: 10px;
	}
		.status.off {
			background-image: url(../images/off.png);
		}
		.status.on {
			background-image: url(../images/on.png);
		}
	
#navigation {
	position: fixed;
	right: -25%;
	width: 25%;
	background: #000;
	top: 0px;
	bottom: 0px;
	z-index: 20;
}
	#navigation ul {
		margin: 0px;
		padding: 0px;
	}
	#navigation ul li {
		list-style: none;
	}
#server_news{
   /* border: 1px solid #FF0000;*/
    height: 160px;
    overflow: hidden;
    width: 100%;	
	
}
#akt_news {
   /* border: 1px solid #FF0000;*/
   height: 300px;
	overflow: hidden;
	width: 100%;
}

#countdown {
	text-align: center;
	margin: 10px auto;
	position: relative;
	height: 38px;
}
	#countdown > span.button {
		margin-right: 5px;
		padding: 0 14px;
		position: relative;
	}
	#countdown > span.button .info {
		position: absolute;
		right: 5px;
		font-size: 10px;
		line-height: 12px;
		bottom: 2px;
	}
	#countdown > span.button .right {
		width: 13px;
	}